@import url(https://fonts.googleapis.com/css?family=Taviraj:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:300,regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Catamaran:500&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-big-left:before {
  content: "\e900";
}

._icon-arrow-down:before {
  content: "\e901";
}

._icon-arrow-left:before {
  content: "\e902";
}

._icon-arrow-right:before {
  content: "\e903";
}

._icon-bin:before {
  content: "\e904";
}

._icon-cart:before {
  content: "\e905";
}

._icon-cart-small:before {
  content: "\e906";
}

._icon-checkout:before {
  content: "\e907";
}

._icon-confirm:before {
  content: "\e908";
}

._icon-favourite:before {
  content: "\e909";
}

._icon-minus:before {
  content: "\e90a";
}

._icon-payment:before {
  content: "\e90b";
}

._icon-plus:before {
  content: "\e90c";
}

._icon-search:before {
  content: "\e90d";
}

._icon-user:before {
  content: "\e90e";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Taviraj";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Taviraj";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #F7F6F4;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.quantity {
  width: 113px;
  height: 30px;
  display: flex;
  transition: all 0.3s ease 0s;
}
.quantity__button {
  flex: 0 0 30px;
  border: 1px solid #777777;
  position: relative;
  cursor: pointer;
}
.quantity__button::before, .quantity__button::after {
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -8px;
  background-color: #777777;
  width: 16px;
  height: 1px;
}
@media (any-hover: hover) {
  .quantity__button:hover {
    background-color: #D84727;
  }
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: #fff;
  }
}
.quantity__button_plus::before {
  transform: rotate(-90deg);
}
.quantity__input {
  flex: 1 1 auto;
}
.quantity__input input {
  height: 100%;
  width: 100%;
  line-height: 1.6944444444;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
  background-color: transparent;
}
@media (min-width: 71.25em) {
  .quantity__input input {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .quantity__input input {
    font-size: calc(1.875rem + 0.375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .quantity__input input {
    font-size: 1.875rem;
  }
}

[data-showmore-content] {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
._showmore-active [data-showmore-content] {
  opacity: 1;
}

[data-showmore-button] span:last-child {
  display: none;
}
._showmore-active [data-showmore-button] span {
  display: none;
}
._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.discover-link {
  display: inline-block;
  font-weight: 600;
  line-height: 27px;
  line-height: 1.6875;
  letter-spacing: 0.03em;
  position: relative;
}
.discover-link::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #333333;
  opacity: 1;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .discover-link:hover::before {
    opacity: 0;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .btn:hover {
    color: #D84727;
    background-color: #fff;
  }
}
.btn_add {
  min-height: 62px;
  padding: 15px 30px;
  gap: 19px;
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  background-color: #D84727;
}
.btn_add::before {
  font-size: 1.3125rem;
}
.btn_add2 {
  min-height: 39px;
  padding: 8px 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #D84727;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .btn_add2:hover {
    color: #ffffff;
    background-color: #772816;
  }
}
.btn_bd {
  min-height: 62px;
  padding: 15px 42px;
  border: 2px solid #D84727;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 16px;
}
@media (max-width: 29.99875em) {
  .buttons {
    grid-template-columns: 1fr;
  }
}
.title {
  font-weight: 500;
  line-height: 111%;
  letter-spacing: 0.02em;
  position: relative;
}
@media (min-width: 71.25em) {
  .title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .title {
    font-size: calc(1.875rem + 0.375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }
}
.title::before {
  content: " ";
  position: absolute;
  width: 128px;
  height: 1px;
  bottom: -7px;
  left: 0;
  background-color: #333333;
}

.old-price {
  color: #D93F3F;
  line-height: 1.5;
  text-decoration: line-through;
}
.old-price span {
  color: #777777;
}

.items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}
.card {
  display: grid;
  grid-template: auto 1fr/1fr;
}
@media (any-hover: hover) {
  .card:hover .card__actions {
    opacity: 1;
    visibility: visible;
    margin: 48px 0 16px;
  }
}
.card__image {
  margin: 0 25px 32px 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  padding-bottom: 86.7%;
  display: block;
  overflow: hidden;
}
.card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.card__body {
  display: grid;
  grid-template: 1fr auto/1fr;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 215px 25px 0px 25px;
  margin-top: -215px;
}
@media (any-hover: hover) {
  .card__content {
    margin-bottom: -32px;
  }
}
.card__title {
  font-weight: 500;
  line-height: 133%;
  margin-bottom: 0.125rem;
}
@media (min-width: 71.25em) {
  .card__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .card__title {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .card__title {
    font-size: 1.25rem;
  }
}
.card__discount {
  line-height: 1.5;
  color: #777777;
  margin-bottom: 0.375rem;
}
.card__price {
  line-height: 133%;
}
@media (min-width: 71.25em) {
  .card__price {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .card__price {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .card__price {
    font-size: 1.25rem;
  }
}
@media (any-hover: none) {
  .card__actions {
    margin: 24px 0 16px 0;
  }
}
@media (any-hover: hover) {
  .card__actions {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
}

.actions-card__body {
  display: flex;
  gap: 8px;
}
.actions-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 39px;
  height: 39px;
  border: 1px solid #D84727;
}
.actions-card__link::before {
  font-size: 1.125rem;
}
@media (any-hover: hover) {
  .actions-card__link:hover::before {
    color: #D84727;
    font-weight: 900;
  }
}
.breadcrumbs {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 1.6875rem;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  line-height: 1.6875;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.breadcrumbs__link::after {
  content: "/";
  margin: 0 0.375rem;
}
@media (any-hover: hover) {
  .breadcrumbs__link:hover span {
    text-decoration: underline;
  }
}
.breadcrumbs__current {
  color: #D84727;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0;
}
.header._header-scroll .header__wrapper {
  background-color: #fcfcfc;
}
.header._header-scroll .header__container {
  min-height: 60px;
}
.header__wrapper {
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 86px;
  transition: min-height 0.3s ease 0s;
}
@media (min-width: 71.25em) {
  .header__container {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .header__container {
    gap: calc(0.3125rem + 0.9375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .header__container {
    gap: 0.3125rem;
  }
}
.header__logo {
  z-index: 2;
}
@media (min-width: 69.375em) {
  .header__logo {
    padding-right: 9.6875rem;
  }
}
@media (min-width: 29.99875em) and (max-width: 69.375em) {
  .header__logo {
    padding-right: calc(0rem + 9.6875 * (((100vw - 29.99875rem)) / ((39.37625))));
  }
}
@media (max-width: 29.99875em) {
  .header__logo {
    padding-right: 0rem;
  }
}
@media (max-width: 29.99875em) {
  .header__logo img {
    max-width: 100%;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__actions {
  z-index: 2;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    padding: 120px 15px 30px 15px;
    z-index: 1;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 86px;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #fcf8f3;
    z-index: 1;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
  }
}
@media (min-width: 47.99875em) and (min-width: 71.25em) {
  .menu__list {
    column-gap: 2.5rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 71.25em) {
  .menu__list {
    column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    text-align: center;
  }
}
.menu__link {
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 2.5rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.actions-header {
  display: flex;
  align-items: center;
  row-gap: 5px;
}
@media (min-width: 71.25em) {
  .actions-header {
    column-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .actions-header {
    column-gap: calc(0.625rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .actions-header {
    column-gap: 0.625rem;
  }
}
.actions-header__item_login {
  font-size: 1.125rem;
  line-height: 1.7222222222;
  letter-spacing: 0.02em;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.actions-header__item_login::before {
  font-size: 1.5625rem;
}
@media (min-width: 29.99875em) {
  .actions-header__item_login::before {
    padding-right: 0.5rem;
  }
}
@media (any-hover: hover) {
  .actions-header__item_login:hover, .actions-header__item_login:hover::before {
    color: #D84727;
  }
}
@media (max-width: 29.99875em) {
  .actions-header__item_login span {
    display: none;
  }
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  background-color: #F1DDC9;
}
.cart-header__icon {
  transition: color 0.3s ease 0s;
  position: relative;
  display: block;
}
@media (any-hover: hover) {
  .cart-header__icon:hover {
    color: #D84727;
  }
}
.cart-header__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #D84727;
  color: #fff;
  font-size: 12px;
}
.cart-header__icon::before {
  font-size: 1.5rem;
}
.cart-header__body {
  background: #d6d6d1;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  transform: translate(0px, 20px);
}
._active .cart-header__body {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}

.cart-list {
  overflow: auto;
  max-height: 500px;
}
.cart-list__body {
  padding: 15px;
}
@media (min-width: 37.5em) {
  .cart-list__body {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 29.99875em) {
  .cart-list__body {
    text-align: center;
  }
}
.cart-list__info {
  gap: 32px;
}
@media (min-width: 37.5em) {
  .cart-list__info {
    display: flex;
    align-items: flex-start;
  }
}
.cart-list__image {
  flex: 0 0 144px;
  height: 144px;
  display: block;
  overflow: hidden;
  position: relative;
}
@media (max-width: 37.5em) {
  .cart-list__image {
    width: 144px;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .cart-list__image {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}
.cart-list__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.cart-list__title {
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 0.125rem;
}
@media (min-width: 71.25em) {
  .cart-list__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .cart-list__title {
    font-size: calc(1.125rem + 0.125 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .cart-list__title {
    font-size: 1.125rem;
  }
}
.cart-list__old-price {
  white-space: nowrap;
}
.cart-list__price {
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.02em;
  white-space: nowrap;
}
@media (min-width: 71.25em) {
  .cart-list__price {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .cart-list__price {
    font-size: calc(1.375rem + 0.125 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .cart-list__price {
    font-size: 1.375rem;
  }
}
@media (min-width: 29.99875em) {
  .cart-list__actions {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 30px;
  }
}
.cart-list__quantity {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  white-space: nowrap;
}
@media (max-width: 29.99875em) {
  .cart-list__quantity {
    margin: 0 auto;
  }
}
.cart-list__delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #D93F3F;
  transition: all 0.3s ease 0s;
}
.cart-list__delete::before {
  color: #D93F3F;
  font-size: 1.125rem;
}
@media (any-hover: hover) {
  .cart-list__delete:hover::before {
    color: #000;
  }
}
@media (max-width: 29.99875em) {
  .cart-list__delete {
    margin: 0 auto;
  }
}

.search-form._active .search-form__item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  opacity: 1;
  top: 100%;
  visibility: visible;
  padding: 0 20px;
  min-height: 50px;
  box-shadow: 0 0 10px 5px #dddddd;
}
.search-form._active .search-form__icon::before {
  color: #D93F3F;
  font-weight: 900;
}
.search-form__icon::before {
  font-size: 1.5625rem;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .search-form__icon:hover {
    color: #D93F3F;
  }
}
.search-form__item {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
  position: absolute;
  left: 20px;
  right: 20px;
  top: -100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.top-footer {
  background-color: #DA5E42;
  padding: 40px 15px 23px;
}
.top-footer__body {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 10px;
}
@media (min-width: 71.25em) {
  .top-footer__body {
    column-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .top-footer__body {
    column-gap: calc(5.625rem + 0.625 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .top-footer__body {
    column-gap: 5.625rem;
  }
}

.bottom-footer {
  background: url("img/footer/bgt.png") -20px 135% no-repeat, url("img/footer/bgt.png") 99% -36px no-repeat, #D84727;
}
.bottom-footer__body {
  color: #fff;
  padding: 43px 0 75px 0;
}
@media (min-width: 47.99875em) {
  .bottom-footer__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, auto));
    gap: 30px;
    justify-content: start;
    align-items: start;
  }
}
@media (min-width: 47.99875em) {
  .bottom-footer__column:nth-child(3) {
    padding: 0 30px;
  }
}
.bottom-footer__logo {
  display: inline-block;
  padding-top: 8px;
  margin-bottom: 1.6875rem;
}
.bottom-footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.title-footer {
  font-weight: 600;
  line-height: 1.7083333333;
  letter-spacing: 0.02em;
  position: relative;
}
@media (min-width: 71.25em) {
  .title-footer {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .title-footer {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .title-footer {
    font-size: 1.25rem;
  }
}
@media (min-width: 47.99875em) {
  .title-footer::before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .title-footer {
    display: flex;
    position: relative;
  }
  .title-footer:before, .title-footer:after {
    content: "";
    width: 10px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    transition: transform 0.3s ease 0s;
  }
  .title-footer:before {
    transform: rotate(-40deg);
    right: 0;
  }
  .title-footer:after {
    transform: rotate(40deg);
    right: 6px;
  }
  .title-footer._spoller-active:before {
    transform: rotate(40deg);
  }
  .title-footer._spoller-active:after {
    transform: rotate(-40deg);
  }
}

.item-footer:last-child .item-footer__text {
  max-width: 8.75rem;
}
.item-footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-bottom: 0.125rem;
}
.item-footer__text {
  line-height: 1.6875;
  letter-spacing: 0.03em;
}
@media (min-width: 47.99875em) {
  .item-footer__text {
    max-width: 15.9375rem;
  }
}

@media (min-width: 47.99875em) {
  .get-footer__title {
    margin-bottom: 1rem;
  }
}
.get-footer__item {
  display: flex;
  gap: 2.25rem;
}
.get-footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.get-footer__text {
  flex: 1 1 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
@media (min-width: 47.99875em) {
  .get-footer__text {
    max-width: 6.0625rem;
  }
}
.get-footer__phone {
  line-height: 200%;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .get-footer__phone:hover {
    text-decoration: underline;
  }
}
.get-footer__social {
  margin-top: 16px;
}
@media (max-width: 47.99875em) {
  .get-footer__social {
    margin-bottom: 1rem;
  }
}

.item-social__body {
  display: flex;
  align-items: center;
}
.item-social__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.item-social__icon:not(:last-child) {
  margin-right: 25px;
}
@media (any-hover: hover) {
  .item-social__icon:hover {
    background-color: #802c19;
  }
}

@media (min-width: 47.99875em) {
  .menu-footer__title {
    margin-bottom: 1rem;
  }
}
.menu-footer__link {
  line-height: 2;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

.product {
  background-color: #F7F6F4;
}
.product__header {
  margin-bottom: 45px;
}
@media (min-width: 71.25em) {
  .product__header {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .product__header {
    padding-top: calc(6.25rem + 2.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .product__header {
    padding-top: 6.25rem;
  }
}
@media (min-width: 71.25em) {
  .product__major {
    margin-bottom: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .product__major {
    margin-bottom: calc(2.8125rem + 1.9375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .product__major {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 71.25em) {
  .product__info {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .product__info {
    margin-bottom: calc(2.8125rem + 4.6875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .product__info {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 71.25em) {
  .product__relate {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .product__relate {
    margin-bottom: calc(2.8125rem + 3.4375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .product__relate {
    margin-bottom: 2.8125rem;
  }
}

.major__container {
  display: grid;
  align-items: start;
  gap: 2.5rem;
}
@media (min-width: 49.625em) {
  .major__container {
    grid-template-columns: 49.0909090909% 1fr;
  }
}
.major__images {
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 19.8148148148% auto;
  background-color: #F1DDC9;
}
@media (min-width: 71.25em) {
  .major__images {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .major__images {
    padding-top: calc(0.9375rem + 0.625 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .major__images {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 71.25em) {
  .major__images {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .major__images {
    padding-bottom: calc(0.9375rem + 0.625 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .major__images {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 71.25em) {
  .major__images {
    height: 34.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .major__images {
    height: calc(18.75rem + 15.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .major__images {
    height: 18.75rem;
  }
}
@media (min-width: 71.25em) {
  .major__images {
    gap: 3.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .major__images {
    gap: calc(0rem + 3.625 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .major__images {
    gap: 0rem;
  }
}
@media (max-width: 29.99875em) {
  .major__images {
    margin: 0 -15px;
  }
}

.images-major__slide {
  align-self: center;
  cursor: pointer;
}
@media (min-width: 49.625em) {
  .images-major__slide img {
    max-width: 100%;
  }
}
@media (max-width: 49.625em) {
  .images-major__slide {
    display: block;
    overflow: hidden;
    padding-bottom: 73.1808731809%;
    position: relative;
  }
  .images-major__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}

.thumbs-images__slide {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}
.thumbs-images__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.thumbs-images__slide.swiper-slide-thumb-active {
  opacity: 1;
}

.body-major__title {
  line-height: 133%;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}
@media (min-width: 71.25em) {
  .body-major__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .body-major__title {
    font-size: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .body-major__title {
    font-size: 1.875rem;
  }
}
.body-major__oldprice {
  margin-bottom: 0.125rem;
}
.body-major__price {
  font-weight: 500;
  line-height: 1.7083333333;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
}
@media (min-width: 71.25em) {
  .body-major__price {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .body-major__price {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .body-major__price {
    font-size: 1.25rem;
  }
}

.model-major__text {
  font-weight: 600;
  line-height: 1.6875;
  letter-spacing: 0.02em;
  margin-bottom: 0.5625rem;
}
.model-major__items {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.model-major__item {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  position: relative;
}
.model-major__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.actions-major__row {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
}
.actions-major__buttons {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;
}

.info-product__navigation {
  padding-bottom: 1rem;
}
@media (min-width: 61.99875em) {
  .info-product__navigation {
    border-bottom: 0.3px solid #999999;
  }
}

.product-info__title {
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #999999;
}
@media (min-width: 71.25em) {
  .product-info__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .product-info__title {
    font-size: calc(1.125rem + 0.125 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .product-info__title {
    font-size: 1.125rem;
  }
}
.product-info__title:not(:last-child) {
  margin-right: 40px;
}
._tab-spoller .product-info__title {
  width: 100%;
}
.product-info__title._tab-active {
  color: #D84727;
  position: relative;
}
.product-info__title._tab-active::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #D84727;
}
.product-info__body {
  padding-top: 1.5rem;
}
._tab-spoller .product-info__body {
  padding-bottom: 1.5rem;
}
.product-info__image {
  text-align: center;
}
.product-info__image img {
  max-width: 100%;
}

.passage-info {
  margin-bottom: 1.5rem;
}
.passage-info__title {
  line-height: 133%;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}
@media (min-width: 71.25em) {
  .passage-info__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .passage-info__title {
    font-size: calc(1.375rem + 0.125 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .passage-info__title {
    font-size: 1.375rem;
  }
}
.passage-info__text {
  font-family: Nunito;
  line-height: 175%;
  letter-spacing: 0.02em;
  color: #555555;
}

@media (min-width: 71.25em) {
  .page__way {
    padding-top: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__way {
    padding-top: calc(6.25rem + 3.75 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__way {
    padding-top: 6.25rem;
  }
}
@media (min-width: 71.25em) {
  .page__way {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__way {
    margin-bottom: calc(0rem + 7.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__way {
    margin-bottom: 0rem;
  }
}
@media (min-width: 71.25em) {
  .page__goods {
    margin-bottom: 5.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__goods {
    margin-bottom: calc(2.8125rem + 2.9375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__goods {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 71.25em) {
  .page__deals {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__deals {
    margin-bottom: calc(2.8125rem + 5.9375 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__deals {
    margin-bottom: 2.8125rem;
  }
}
.page__news {
  margin-bottom: 8.3125rem;
}
@media (max-width: 47.99875em) and (min-width: 71.25em) {
  .page__news {
    margin-bottom: 8.3125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 71.25em) {
  .page__news {
    margin-bottom: calc(2.8125rem + 5.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .page__news {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 71.25em) {
  .page__products {
    margin-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__products {
    margin-bottom: calc(2.8125rem + 0.6875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__products {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 71.25em) {
  .page__test {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__test {
    margin-bottom: calc(1.25rem + 2.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__test {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 71.25em) {
  .page__inst {
    margin-bottom: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page__inst {
    margin-bottom: calc(2.8125rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .page__inst {
    margin-bottom: 2.8125rem;
  }
}

@media (min-width: 47.99875em) {
  .way {
    position: relative;
  }
  .way::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/way/02.png") right 75px no-repeat;
    z-index: 1;
    pointer-events: none;
  }
}
@media (max-width: 29.99875em) {
  .way__container {
    margin: 0 -15px;
  }
}
.way__slider {
  padding-bottom: 72px;
}
.way__swiper {
  min-width: 0;
}
.way__slide {
  background: #F1DDC9;
}
@media (min-width: 47.99875em) {
  .way__slide {
    display: flex;
    align-items: center;
    gap: 2.9375rem;
    min-width: 0;
  }
}
@media (max-width: 47.99875em) {
  .way__slide {
    text-align: center;
    padding: 5px;
  }
}
.way__image {
  flex: 0 0 29.2792792793%;
  transform: translate(0, 110px);
}
.way__image img {
  max-width: 100%;
}
.way__content {
  flex: 1 1 auto;
  padding-bottom: 50px;
}
@media (min-width: 47.99875em) {
  .way__content {
    padding-top: 56px;
    max-width: 33.125rem;
  }
}
.way__title {
  display: inline-block;
  line-height: 133%;
  letter-spacing: 0.02em;
  margin-bottom: 2rem;
  transition: all 0.3s ease 0s;
  position: relative;
}
@media (min-width: 71.25em) {
  .way__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .way__title {
    font-size: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .way__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 47.99875em) {
  .way__title {
    max-width: 420px;
  }
}
.way__title::before {
  content: " ";
  position: absolute;
  width: 95px;
  height: 1px;
  bottom: -8px;
  left: 0;
  background-color: #000000;
}
@media (max-width: 47.99875em) {
  .way__title::before {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .way__title:hover {
    color: #D84727;
  }
}
.way__text {
  font-family: Nunito;
  line-height: 1.375;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
}
@media (min-width: 71.25em) {
  .way__link {
    margin-bottom: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .way__link {
    margin-bottom: calc(1.25rem + 1.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .way__link {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .way__buttons {
    justify-content: center;
  }
}

.slider-arrows {
  margin: -30px 30px 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  position: relative;
  z-index: 2;
}
@media (max-width: 29.99875em) {
  .slider-arrows {
    display: none;
  }
}

.slider-arrow {
  width: 60px;
  height: 60px;
  border: 2px solid #D84727;
}
.slider-arrow::before {
  color: #D84727;
  font-size: 25px;
  transition: all 0.3s ease 0s;
}
.slider-arrow_next {
  transform: rotate(180deg);
}
@media (any-hover: hover) {
  .slider-arrow:hover {
    background-color: #D84727;
  }
  .slider-arrow:hover::before {
    color: #fff;
  }
}

@media (min-width: 47.99875em) {
  .goods__items {
    display: flex;
    margin: 0 -15px;
  }
}

.item-goods {
  letter-spacing: 0.03em;
}
@media (min-width: 47.99875em) {
  .item-goods {
    padding: 0 15px;
    flex: 0 0 50%;
  }
}
@media (max-width: 47.99875em) {
  .item-goods:not(:last-child) {
    margin-bottom: 20px;
  }
}
.item-goods__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 117px 32px;
  position: relative;
  background-color: #fff;
}
@media (max-width: 1068px) {
  .item-goods__body {
    padding-bottom: 150px;
  }
}
.item-goods__title {
  line-height: 1.1428571429;
  margin-bottom: 0.5rem;
}
@media (min-width: 71.25em) {
  .item-goods__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .item-goods__title {
    font-size: calc(1.25rem + 0.5 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .item-goods__title {
    font-size: 1.25rem;
  }
}
.item-goods__title span {
  font-weight: 600;
}
.item-goods__text {
  flex: 1 1 auto;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  max-width: 21.5625rem;
}
.item-goods__image {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
}
.item-goods__image img {
  max-width: 100%;
}

@media (min-width: 71.25em) {
  .deals__title {
    margin-bottom: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .deals__title {
    margin-bottom: calc(2.5rem + 1.75 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .deals__title {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .deals__items {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 71.25em) {
  .news__title {
    margin-bottom: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .news__title {
    margin-bottom: calc(2.5rem + 1.75 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .news__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 47.99875em) {
  .news__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
  }
}
@media (max-width: 47.99875em) {
  .news__content {
    margin-bottom: 50px;
  }
}
.news__label {
  line-height: 200%;
  letter-spacing: 0.02em;
  color: #777777;
  margin-bottom: 0.5rem;
}
@media (min-width: 71.25em) {
  .news__label {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .news__label {
    font-size: calc(1rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .news__label {
    font-size: 1rem;
  }
}
.news__text {
  line-height: 133%;
  letter-spacing: 0.02em;
  margin-bottom: 2.8125rem;
}
@media (min-width: 71.25em) {
  .news__text {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .news__text {
    font-size: calc(1.625rem + 0.625 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .news__text {
    font-size: 1.625rem;
  }
}
@media (min-width: 47.99875em) {
  .news__text {
    max-width: 350px;
  }
}
.news__link {
  min-height: 58px;
  color: #D84727;
}
.news__image {
  position: relative;
  z-index: 5;
}
@media (min-width: 47.99875em) {
  .news__image {
    padding-right: 85px;
  }
  .news__image::before {
    content: "";
    position: absolute;
    width: 110%;
    top: -106px;
    bottom: -106px;
    left: 20%;
    background: url("../img/news/01.png") no-repeat;
    z-index: -1;
  }
}
@media (max-width: 47.99875em) {
  .news__image {
    text-align: center;
    margin: 0 -15px;
  }
}
.news__image img {
  max-width: 100%;
}

.products__body {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  margin-bottom: 3.4375rem;
}
@media (max-width: 29.99875em) {
  .products__body {
    grid-template-columns: 1fr;
  }
}
.products__border {
  border-bottom: 0.3px solid #999999;
  margin-top: -37px;
}

.column-product__title {
  font-weight: normal;
}
@media (min-width: 71.25em) {
  .column-product__title {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .column-product__title {
    margin-bottom: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .column-product__title {
    margin-bottom: 1.875rem;
  }
}
.column-product__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-product {
  display: flex;
}
.item-product__image {
  flex: 0 0 38%;
  min-height: 131px;
  background: #F1DDC9;
  position: relative;
}
.item-product__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.item-product__content {
  flex: 1 1 auto;
  padding-left: 25px;
}
.item-product__text {
  line-height: 133%;
  letter-spacing: 0.02em;
  max-width: 190px;
  margin-bottom: 0.25rem;
}
@media (min-width: 71.25em) {
  .item-product__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .item-product__text {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .item-product__text {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .item-product__text:hover {
    text-decoration: underline;
  }
}
.item-product__price {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.02em;
}
@media (min-width: 71.25em) {
  .item-product__price {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .item-product__price {
    font-size: calc(1.4375rem + 0.3125 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .item-product__price {
    font-size: 1.4375rem;
  }
}

.showmore-products__button {
  text-align: center;
}
.showmore-products__more {
  background-color: #F7F6F4;
  min-height: 66px;
  color: #D84727;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding: 15px 90px;
  min-width: 273.05px;
  position: relative;
}
.showmore-products__more::before {
  content: " ";
  position: absolute;
  width: 28px;
  height: 68px;
  top: -2px;
  left: -30px;
  background-color: #F7F6F4;
}
.showmore-products__more::after {
  content: " ";
  position: absolute;
  width: 28px;
  height: 68px;
  top: -2px;
  right: -30px;
  background-color: #F7F6F4;
}

.inst__title {
  margin-bottom: 2.5rem;
}
.inst__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
}
@media (max-width: 29.99875em) {
  .inst__body {
    margin: 0 -15px;
  }
}
.inst__image {
  position: relative;
  padding-bottom: 100%;
}
.inst__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.test {
  padding-top: 108px;
  background: url("../img/test/bg.png") no-repeat, url("../img/test/bg1.jpg") 0 6.25rem no-repeat;
}
@media (max-width: 47.99875em) {
  .test__top {
    margin-bottom: 1.25rem;
  }
}
.test__title {
  margin-bottom: 1.25rem;
}
.test__swiper {
  margin-bottom: 1rem;
}

@media (min-width: 47.99875em) {
  .slide-test__body {
    display: flex;
  }
}
.slide-test__image {
  flex: 0 0 44.7%;
  min-height: 250px;
  display: block;
  overflow: hidden;
  position: relative;
}
@media (max-width: 47.99875em) {
  .slide-test__image {
    padding-bottom: 62.8180039139%;
  }
}
.slide-test__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slide-test__content {
  padding-top: 1.25rem;
}
@media (min-width: 47.99875em) {
  .slide-test__content {
    padding: 205px 0 50px 88px;
    flex: 1 1 auto;
  }
}
.slide-test__name {
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.03em;
  margin-bottom: 0.125rem;
}
@media (min-width: 71.25em) {
  .slide-test__name {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .slide-test__name {
    font-size: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((51.25))));
  }
}
@media (max-width: 20em) {
  .slide-test__name {
    font-size: 1.25rem;
  }
}
.slide-test__job {
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #777777;
}

.top-test {
  display: flex;
}
.top-test__item {
  flex: 0 0 44.7%;
}
@media (max-width: 47.99875em) {
  .top-test__item {
    flex: 1 1 auto;
  }
}
.top-test__title {
  margin-bottom: 1.25rem;
  position: relative;
  padding-left: 88px;
}
@media (min-width: 47.99875em) {
  .top-test__title {
    flex: 1 1 auto;
  }
}
.top-test__title::before {
  content: " ";
  position: absolute;
  width: 128px;
  height: 1px;
  bottom: -7px;
  left: 88px;
  background-color: #333333;
}

.test-arrows {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 29.99875em) {
  .test-arrows {
    display: none;
  }
}

.test-arrow {
  width: 4rem;
  height: 4rem;
}
.test-arrow::before {
  font-size: 1.5rem;
  transition: font-size 0.3s ease 0s;
}
@media (any-hover: hover) {
  .test-arrow:hover::before {
    font-size: 3.25rem;
  }
}
.test-arrow_next::before {
  transform: rotate(180deg);
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
