//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	width: 113px;
	height: 30px;
	display: flex;
	//border: 1px solid rgba(166, 166, 166, 0.45);
   transition: all 0.3s ease 0s;
	// .quantity__button
	&__button {
		flex: 0 0 30px;
      border: 1px solid #777777;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
         transition: all 0.3s ease 0s;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -8px;
			background-color:  #777777;
			width: 16px;
			height: 1px;
        
		}
		@media (any-hover: hover) {
			&:hover {
            background-color: #D84727;
				&::before,
				&::after {
					background-color: #fff;
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			width: 100%;
         @include adaptiveValue("font-size", 36, 30);
         line-height: math.div(61 , 36);
         letter-spacing: 0.02em;
         color: #000000;
			text-align: center;
         background-color: transparent;
		}
	}
}
